<div id="sound_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @sound.title %></h1>
			<p class="description"><%= @sound.description %></p>
		</div>
	

	<div id="breadcrumb">
		<%= link_to sounds_path do %>
			All Sounds
			<span>/</span>
			<%= @sound.title %>
		<% end %>
	</div>
	</div>
	<div id="tracks">
    <div class="wrapper_skinny">
      <ul class="cf">
        <% @tracks.each do |track| %>
          <li class="cf">
            <div class="track_overview">
              <h2><%= link_to track.title, sound_track_path(@sound, track) %></h2>
              <p class="description"><%= truncate(track.description, lenght: 160) %></p>
              <div class="authorized_links">
                <%= link_to "Edit", edit_sound_track_path(@sound, track) %>
                <%= link_to "Delete", sound_track_path(@sound, track), method: :delete, data: {confirm: "Are you sure?"} %>
              </div>
              
            </div>
          </li>
        <% end %>
      </ul>
</div>