<div id="sound_show">
	<div id="show_banner">
  	    <h1>All Tracks.</h1>

    </div>
  
  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li><%= link_to 'Posts', posts_path(current_sound) %></li>
        <li><%= link_to "Account Settings", edit_sound_registration_path %></li>
				<li><%= link_to "View Sounds",sounds_path %></li>

      </ul>
    </div>
  </div>

	<div id="tracks">
    <div class="wrapper_skinny">
      <ul class="cf">
        <% @tracks.each do |track| %>
          <li class="cf">
          	<div class="track_thumbnail">
							<a href="#">
								<%= image_tag track.track_thumbnail.url(:medium) %>
							</a>
						</div>
            <div class="track_overview">
              <h2><%= link_to track.title, sound_track_path(@sound, track) %></h2>
              <p class="description"><%= truncate(track.description, lenght: 160) %></p>
              <div class="authorized_links">
                <%= link_to "Edit", edit_sound_track_path(@sound, track) %>
                <%= link_to "Delete", sound_track_path(@sound, track), method: :delete, data: {confirm: "Are you sure?"} %>
              </div>
              
            </div>
          </li>
        <% end %>
      </ul>
</div>

<%= will_paginate @tracks, previous_label: "Previous", next_label: "Next" %>