
  <div id="sound_show">
	<div id="show_banner">
	    <h1>Updates from Developers</h1>
    </div>
  
  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li><%= link_to 'Posts', posts_path(current_sound) %></li>
        <li><%= link_to "Account Settings", edit_sound_registration_path %></li>
				<li><%= link_to "View Sounds",sounds_path %></li>

      </ul>
    </div>
  </div>

	<div id="posts">
    <div class="wrapper_skinny">

<h3>OpenSound Public Releases</h3>
<h4> 1.0.1</h4>
Basic implementations and funcionalities.

<h4> 1.0.2</h4>
Improve App functions.

<% if current_sound && current_sound.admin %>
<h3>OpenSound Private Releases (Beta!)</h3> 
<table>
  <thead>
    <tr>
      <th>Version</th>
      <th>Update</th>
      <th>Developer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.text %></td>
        <td><%= post.sound.email %></td>
        
        <% if current_sound && current_sound.admin %>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end%>
    <% end %>
  </tbody>
</table>

<br>
<% if current_sound && current_sound.admin %>
<%= link_to 'New Dev Post', new_post_path %><br>
<a href="http://localhost:3000/admin">Devs Settings</a>
<% end %>
<% end %>